body {
    background-color: #0D0D0D;
    color: #F2EA79;
    font-family: "Montserrat";
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    padding: 24px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

a {
    color:#F2EA79
}

a:visited {
    color: #585959;
}
.logo {
    height: 70px;
    width: auto;
    height: 20px;
    margin: 20px 10px 10px 10px;
}
.section {
    display: none;
}

.section.active {
    display: block;
}

nav button.active {
    font-weight: bold;
    text-decoration: underline;
}

nav button {
    padding: 10px 14px;
    color: #0D0D0D;
    background-color: #F2EA79;
    border-radius: 0 1.8em;
    border-style: solid;
    border-color: #D9AD5B;
    font: normal 500 16px "Montserrat";
    align-self: flex-start;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    list-style: none;
}

#profile_pic {
    height: 160px;
    max-width: 100%;
    border-radius: 125px;
    border-style: solid;
    border-color: #D9AD5B;
}

@media (min-width: 768px) {
    .container {
    padding: 40px;
    }
}

@media (min-width: 1024px) {

    .container {
        flex-direction: row;
        height: 100vh;
    }

    .sidebar {
        width: 280px;
        flex-shrink: 0;
        position: sticky;
        top: 0;
        height: 100vh;
        border-right: 1px solid #D9AD5B;
    }

    .content {
        flex: 1;
        overflow-y: auto;
        padding: 60px;
        text-align: justify;
    }

    #profile_pic {
        height: 250px;
    }
}