/* BASE / MOBILE FIRST */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0D0D0D;
    color: #F2EA79;
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.6;
}

/* LAYOUT */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Perfil */

.profile {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#profile_pic {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 3px solid #D9AD5B;
}

/* Navegação */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

nav button {
    width: 100px;
    padding: 10px;
    border-radius: 0 2em;
    border: 1px solid #D9AD5B;
    background-color: #F2EA79;
    color: #0D0D0D;
    font-size: 0.9rem;
}

nav button.active {
    background-color: #D9AD5B;
    font-weight: bold;
}

/* Social */

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social img {
    height: 20px;
}

/* CONTENT */

.content {
    padding: 24px;
}

/* Sections */

.section {
    display: none;
}

.section.active {
    display: block;
}

/* DESKTOP */

@media (min-width: 1024px) {

    body {
        overflow: hidden;
    }

    .container {
        flex-direction: row;
        height: 100vh;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        border-right: 1px solid #D9AD5B;
        justify-content: space-between;
    }

    .sidebar h1,
    .sidebar h2 {
        margin: 0px;
    }

    .sidebar h1 {
        font-size: 1.4rem;
    }

    .sidebar h2 {
        font-size: 1rem;
    }

    .sidebar_top {
        overflow-y: auto;
    }

    .content {
        flex: 1;
        padding: 40px;
        overflow-y: auto;
        text-align: justify;
    }

    #profile_pic {
        width: 100%;
        height: auto;
    }
}
