body {
    background-color: #0D0D0D;
    color: #F2EA79;
    font-family: "Montserrat";
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

a:visited {
    color: #D9AD5B;
}
.logo {
    width: auto;
    height: 20px;
    margin: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 24px;
}

.content {
    padding: 24px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.sidebar button.active {
    font-weight: bold;
    text-decoration: underline;
}

nav button {
    padding: 10px 14px;
    color: #0D0D0D;
    background-color: #F2EA79;
    border-style: solid;
    border-color: #D9AD5B;
    font: normal 500 16px Montserrat
}

nav ul {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}
#profile_pic {
    height: 250px;
    width: auto;
    border-radius: 125px;
    border-style: solid;
    border-color: #D9AD5B;
}